### Desafio: utilizando parâmetros do json_normalize

In [3]:
import pandas as pd
import json

with open('informacoes.json') as f:
     js = json.load(f)
     
df_norm = pd.json_normalize(js, record_path='enderecos', meta=['nome', 'idade'])
df_norm

       tipo    rua  numero          cidade  nome idade
0      casa  Rua A     123       São Paulo  João    28
1  trabalho  Rua B     456  Rio de Janeiro  João    28